@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    </br>
    </br>
    </br>
    <h1 class="display-4">Smart Parking</h1>
    <p>Welcome to smart parking page. Check out taken parking spots, users, cars and buses. If you want to take a closer look to all users, spots, cars or buses you need to register    
    </p>
    <div class="text-center">
    <a class="btn btn-outline-primary btn-lg" href="Enrollment">Check out free places</a>
    </div>
</div>
